Python Modules

In [12]:
# importing sqrt() and factorial from the
# module math
from math import *

# if we simply do "import math", then
# math.sqrt(16) and math.factorial()
# are required.
print(sqrt(16))
print(factorial(6))

4.0
720

Connect Python with MYSQL

In [13]:
import mysql.connector

In [14]:
conn = mysql.connector.connect(user='root', password='root', host='127.0.0.1')

In [15]:
sql_select_Query = "SELECT * FROM company.employee"

In [16]:
cursor = conn.cursor()
cursor.execute(sql_select_Query)

In [17]:
records = cursor.fetchall()

In [18]:
records

[('Robin', 'Scientist', datetime.date(2020, 10, 4), '12'),
 ('Warner', 'Engineer', datetime.date(2020, 10, 4), '10'),
 ('Peter', 'Actor', datetime.date(2020, 10, 4), '13'),
 ('Marco', 'Doctor', datetime.date(2020, 10, 4), '14'),
 ('Brayden', 'Teacher', datetime.date(2020, 10, 4), '12'),
 ('Antonio', 'Business', datetime.date(2020, 10, 4), '11')]